@font-face {
    font-family: seb;
    src: url(../sf-pro-text_bold.woff2);
     font-weight: 700;         /* Corrected */
    font-style: normal; 
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}


#nav{
    background-color: #222223;
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

#nav h3{
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    
}

#nav h3 i {
    font-size: 20px;
}

#center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: black;
    width: 100%;
    background-position: center;
    background-size: cover;

}


#center h1 {
    color: white;
    position: absolute;
    text-align: center;
    position: absolute;
    top: 80px;
    font-size: 60px;
    font-family: seb;
    margin-top: 25px;
    font-family: seb;
}

#center h4{
    color: white;
    position: absolute;
    top: 18%;
    font-size: 35px;
    margin-top: 50px;
    font-family: seb;
    
}

#btn{
     background-color: royalblue;
     padding: 20px 15px;
     border-radius: 40px;
     border: none;
     font-size: 25px;
     position: absolute;
     top: 35%;
     right: 50%;
     gap: 20px;
     color: white;
}

#btn2{
     background-color: rgb(11, 11, 11);
     padding: 20px 15px;
     border-radius: 40px;
    
     border: 1px solid blue;
     font-size: 25px;
     position: absolute;
     top: 35%;
     right:40%;
     color: blue;
     
     
}