@font-face {
    font-family: "myfont";
    src: url(./HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2);
}


*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;

}


html,body{
    height: 100%;
    width: 100%;
}

.header{
    background-color: rgb(5, 62, 111);
    text-align: center;
    text-transform: uppercase;
    height: 200px;
    padding: 50px;
    color: white;
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
    
}


.About{
    text-align: center;
    text-transform: uppercase;
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding: 50px;
    height: 200px;
    background-color: white;
}

.education{
    text-align: center;
    text-transform: uppercase;
    background-color: skyblue;
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
   

}
h3{
    background-color: white;
    padding: 10px;
    
}

.skill{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(237, 246, 132);
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
    

}

.project{
    text-align: center;
    text-transform: uppercase;
  
    background-color: rgb(255, 159, 191);
    padding: 40px;
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
}
.contact{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(169, 251, 160);
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(5, 62, 111);
    color: white;
    font-family: "myfont", Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    height: 30px;
}