*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#main{
    background-color: black;
    height: 100%;
    width: 100%;
}

#nav{
    padding: 15px 15px;
    width: 100%;
}
#nav a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    margin: 30px 50px;
}


